<a href="/cadastro"><button>Cadastrar Post</button></a>

<h1>Lista de Post</h1>

{{#each posts}}

<small>{{createdAt}}</small>
<h2>{{titulo}}</h2>
<h3>{{conteudo}}</h3>
<a href="/deletar/{{id}}"><button>Deletar</button></a>
<hr>

{{/each}}